@import "mixins.scss";
@import "./variables.scss";
@import "./animations.scss";

@include main-resets(
    62.5%, 
    $mainGreenColor, 
    $bgColor, 
    $textColor, 
    $mainGreenColor
);

body {
    font-size: 1.6rem;
}

h2 {
    font-weight: 700;
    font-size: 6.3rem;
    line-height: 6.3rem;

    color: $mainGreenColor;

    @include tags-decor('<h2>', '</h2>', -4rem, -5rem)
}

p {
    line-height: 2rem;
}

section {
    position: relative;
    z-index: 1;
}

main {
    position: relative;
    padding: 3rem;
}

#root {
    @include flex-column;

    min-height: 100vh;
}

.scrollOff {
    overflow: hidden;
}

// MAIN

.app {
    padding-left: 13rem;
}

.main-page {
    display: grid;
    grid-template: auto 1fr auto / 1fr;
    min-height: 100vh;

    padding: 2rem;
    overflow: hidden;
}

.container {
    height: 100%;
    padding-left: 3rem;

    &-page {
        height: 100%;
    }

    &-error {
        @include flex-column;
        align-items: center;
        gap: 20px;

        width: 100%;
        margin-top: 8rem;
    }
}

.section-title {
    margin-top: 2rem;
}

.section-wrapper {
    display: flex;
    align-items: center;
    gap: 30px;

    &--discription {
        max-width: 60%;
        padding-right: 2.1rem;
    }

    &--visual {
        @include flex-container-center;

        width: 50%;
        min-height: 420px;
    }
}

.logo-wrapper {
    position: relative;
    display: inline-block;
    width: 10.3rem;
    height: auto;
}

/* section text */
.discription-title {
    min-height: 63px;
}

.text-container {
    @include flex-column;
    gap: 20px;

    &:first-child {
        padding-top: 20px;
    }
}
/* section text finished*/

/* decoration tags*/

.tags {
    display: block;
    font-family: var(--font-La-Belle-Aurore), cursive;
    font-size: 18px;

    color: $tagsColor;    
}

.open-tags::after,
.close-tags::after {
    content: ">";
    margin-left: 3px;
}

.open-tags::before {
    content: "<";
}

.close-tags::before {
    content: "</";
}

.body-tags {
    margin-left: 2rem;
}

.tag-p {
    margin-top: 6rem;

    @include tags-decor('<p>', '</p>', -2.5rem, -4rem)
}

/* decoration tags finished*/

// MEDIA

@media (max-width: 1300px) {
    .app {
        padding: 0;
    }
}

@media (max-width: 1100px) {
    .logo-wrapper {
        width: 9.3rem;
    }
}

@media (max-width: 900px) {
    .logo-wrapper {
        width: 8.7rem;
    }

    .section-wrapper {
        display: block;

        &--discription {
            margin-top: 3rem;
            max-width: 100%;
            width: 100%;
        }

        &--visual {
            width: 100%;
        }
    }

    .text-container {
        width: 100%;
    }
}

@media (max-width: 700px) {
    main {
        padding: 0;
    }

    .logo-wrapper {
        width: 6rem;
    }
}

@media (max-width: 500px) {
    .main-page {
        padding: 1rem;
    }

    .logo-wrapper {
        width: 4.7rem;
    }
}

@media (max-width: 380px) {
    .section-wrapper--discription {
        padding: 0;
    }

    .discription-title {
        font-weight: 700;
        font-size: 5.3rem;
        line-height: 6.3rem;
    }

    .text {
        font-size: 1.4rem;
    }

    .logo-wrapper {
        width: 4rem;
    }
}

@import "../../components/ui/Buttons/buttons.scss";
