@import "../../app/styles/variables.scss";

.form {
    position: relative;

    display: grid;
    gap: 1rem;
    grid-template: repeat(4, auto) / repeat(2, 1fr);

    margin-top: 6rem;
    width: 100%;

    &-top {
        display: flex;
        justify-content: space-between;
    }

    &-item {
        width: 100%;
        resize: none;

        &--full {
            grid-column: span 2;
        }
    }

    &-btn {
        grid-column-start: 2;
        margin-top: 1rem !important;
        width: 100% !important;

        background: transparent;
    }

    &::before {
        content: "<form>";
        position: absolute;
        top: -3rem;
        left: -2rem;

        font-family: "La Belle Aurore", cursive;
        font-size: 18px;

        color: $tagsColor;
    }

    &::after {
        content: "</form>";
        position: absolute;
        bottom: -4rem;
        left: -2rem;

        font-family: "La Belle Aurore", cursive;
        font-size: 18px;

        color: $tagsColor;
    }
}

input,
textarea {
    display: block;
    overflow: hidden;

    padding: 1.5rem;

    font-family: "Sofia Pro", sans-serif;
    font-size: 1.6rem;
    line-height: 1.5rem;

    transition: all 0.4s ease-in;
    border: none;
    border-bottom: 2px solid transparent;

    color: $formTextColor;
    background: $formBgColor;

    &:focus {
        outline: none;
        border-bottom: 2px solid $mainGreenColor;
    }

    &:active {
        outline: none;
        border-bottom: 2px solid $mainGreenColor;
    }
}

.not-validate {
    border-bottom: 2px solid $mainRedColor;
}

.validate {
    border-bottom: 2px solid $mainGreenColor;
}

@media (max-width: 500px) {
    .form {
        &-item--half {
          grid-column: span 2;
        }
    }
}

@media (max-width: 380px) {
    .form {
        padding-right: 1rem;
    }
}
