$bgColor: #1d1d1d;
$textColor: #fff;
$navBgColor: #181818;
$navLincColor: #909096;
$extraColor: #282828;
$mainGreenColor: #08fdd8;
$mainRedColor: #fd2155;
$tagsColor: #515152;
$formBgColor: #2d2d2d;
$formTextColor: #8d8d8d;