@import "../../styles/variable";

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &-logo {
        position: absolute;
        bottom: 0;
        left: 2.5rem;
        width: 100%;
    }
    
    &-text {
        position: relative;

        font-weight: 800;
        font-size: 10.3rem;
        line-height: 9.3rem;
        letter-spacing: -0.3rem;

        &::before {
            content: "<h1>";
            position: absolute;
            top: -6rem;
            left: -2rem;

            font-family: "La Belle Aurore", cursive;
            font-size: 18px;

            color: $tagsColor;
        }

        &::after {
            content: "</h1>";
            position: absolute;
            bottom: -7rem;
            left: -2rem;

            font-family: "La Belle Aurore", cursive;
            font-size: 18px;

            color: $tagsColor;
        }
    }

    & > p {
        font-size: 2rem;
        letter-spacing: 0.8rem;
        color: $navLincColor;
    }
}

.logo-wrapper {
    position: relative;
    display: inline-block;
    width: 10.3rem;
    height: auto;
}
