.skills-icons {
    padding-top: 8rem;
    display: grid;
    gap: 2rem 4rem;
    grid-template-columns: repeat(4, 1fr);
    
    &--item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &--img {
        width: 4rem;
        margin-bottom: 1rem;
    }
}